<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">新增庫存</h2>
  </div>
<%= simple_form_for [ :admin, @product] , :method => 'post' ,:url => admin_product_product_skus_path, :html => { :class => 'form-horizontal'},
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <div class="panel-body">
    <div class="col-sm-6">
      <legend> 基本資料 </legend>
      <%= f.input :title, label: '產品名稱', disabled: true %>
      <%= f.input :pid, :as => :hidden %>
    </div>
    <div class="col-sm-6">
    <legend> 庫存資料 </legend>
      <%= f.simple_fields_for :product_skus , ProductSku.new do |s| %>
        <% render 'product_sku_fields', f: s %>
      <% end %>
      <div>
        &nbsp;&nbsp;&nbsp;
        <%= link_to_add_association '新增庫存', f, :product_skus, { class: "btn btn-primary btn-sm pull-left"} %>
      </div>    
    </div>  
  </div>
  <div class="panel-body">
    <%= link_to '回上頁', :back , :class => "btn btn-primary btn-lg pull-left"%>
    <%= f.submit "儲存修改", :class => "btn btn-danger btn-lg pull-right", :disable_with => 'Submiting...'%>
  </div>
<% end %>
</div>


